################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projects/OrderToFood/.vs/OrderToFood/v15
